<footer class="footer">
    <div class="container flex align-center justify-around">
        <div class="grid gap16">
            <img class="footer__logo" src="assets/icons/company-name.png" alt="logo" routerLink="/">
            <span class="footer__text font-13">
                © 2021 Группа компаний «Intern.io» <br> (Интернио) Все права защищены
            </span>
            <div class="footer__social flex justify-between">
                <img *ngFor="let icon of socialLinks" [src]="icon" alt="social link">
            </div>
        </div>
        <div class="flex flex-column">
            <span class="footer__title main font-19">Для пользователей</span>
            <span class="footer__text font-14" routerLink="/protect-personal-data">Защита персональных данных</span>
            <span class="footer__text font-14">Продвижение резюме</span>
            <span class="footer__text font-14" routerLink="/auto-raise-resume">Автоподнятие резюме</span>
            <span class="footer__text font-14">Вакансии</span>
            <span class="footer__text font-14">Мобильные приложения</span>
            <span class="footer__text font-14">FAQ</span>
        </div>
        <div class="flex flex-column">
            <span class="footer__title main font-19">Партнерам</span>
            <span class="footer__text font-14">Реклама на сайте</span>
            <span class="footer__text font-14">Хотите сотрудничать <br> с нами?</span>
            <span class="footer__text font-14">internio@gmail.com</span>
            <span class="footer__title font-19">Call-центр Intern.io</span>
            <div class="footer__callcenter flex align-center">
                <img class="footer__social" src="assets/icons/phone-call.svg" alt="phone">
                <a href="tel:1111" class="footer__title phone font-14">3535</a>
            </div>
        </div>
    </div>
</footer>
