@import "src/assets/styles/common";

.footer {
    background: var(--primary-blue);
    width: 100%;
    padding: 25px 0 48px;
    margin-top: auto;

    &__logo {
        &:hover {
            @extend .hover;
        }
    }

    &__text {
        line-height: 17px;
        color: var(--primary-beige);
        margin-bottom: 8px;
        &:hover {
            @extend .hover;
        }
    }

    &__title {
        color: var(--primary-coral);

        &.main {
            margin-bottom: 16px;
        }

        &.phone {
            margin-left: 4px;
        }

    }

    &__social {
        width: 18px;
        height: 18px;
        &:hover {
            @extend .hover;
        }

        img {
            margin-right: 16px;
        }
    }

    &__callcenter {
        margin: 8px 0;
    }
}
