<header class="header">
  <div class="container flex justify-between align-center">
    <img src="assets/icons/logo.png" alt="logo" class="header-logo">
    <div class="toolbar flex align-center justify-end">
      <div class="flex toolbar__item">
        <img src="assets/icons/about.svg" alt="" class="toolbar__item-icon">
        <span class="font-16 font-w-500">О нас</span>
      </div>
      <div class="flex toolbar__item">
        <img src="assets/icons/blog.png" alt="" class="toolbar__item-icon">
        <span class="font-16 font-w-500">Блог</span>
      </div>
      <div class="flex toolbar__item">
        <img src="assets/icons/contacts.png" alt="" class="toolbar__item-icon">
        <span class="font-16 font-w-500">Контакты</span>
      </div>
      <button class="toolbar__btn bold flex center" [routerLink]="'/auth'">
        <img src="assets/icons/user.png" alt="" class="toolbar__item-icon">
        Войти
      </button>
    </div>
  </div>
</header>
