.header {
  background: var(--primary-beige);

  &-logo {
    width: 100px;
    &__img {
      width: 100px;
    }
    &:hover {
      cursor: pointer;
      outline: none;
    }
  }

  .toolbar {
    width: 100%;
    text-align: right;

    &__item {
      margin-right: 20px;
      padding-bottom: 4px;
      color: var(--gray);

      &:hover {
        border-bottom:1px solid var(--gray);
        cursor: pointer;
        outline: none;
      }

      &-icon {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }

    &__btn {
      border-radius: 18px;
      border: 1px solid var(--gray);
      width: 100px;
      height: 36px;
      background-color: inherit;
      color: var(--primary-coral);
      margin-left: 36px;
      outline: none;

      &:hover {
        border-color: var(--primary-blue);
        cursor: pointer;
        outline: none;
      }
    }
  }
}
