<div class="backdrop"></div>
<section class="main">
    <img src="assets/icons/close.png" alt="close" class="close" >
    <div class="flex flex-column align-center font-16">
        <span class="main__subtitle">Оо, вы новый пользователь)</span>
        <img src="assets/images/welcome.jpg" alt="welcome-image" class="main__img">
        <span class="main__title">
      Добро пожаловать в наш сервис<br>
      <span class="main__title-bold bold">Intern.io!</span>
    </span>
        <span class="main__subtitle">Выберите пожалуйста подходящее для вас : </span>
    </div>

    <div class="flex justify-between">
        <div class="choose-btn">Стать стажером</div>
        <div class="choose-btn">Найти стажера</div>
    </div>
</section>
