@import "src/assets/styles/fonts";

.main {
    padding: 36px 48px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--white);
    border-radius: 8px;

    &__img {
        height: 300px;
        margin: 16px 0;
    }

    &__title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 16px;
        color: var(--primary-blue);

        &-bold {
            font-size: 30px;
            color: var(--primary-blue);
        }
    }

    .choose-btn {
        margin-top: 16px;
        background: var(--lily);
        border: 1px solid var(--lily);
        padding: 12px;
        border-radius: 20px;
        font-size: 15px;
        width: 200px;
        text-align: center;

        &:hover {
            @extend .hover;
            font-weight: bold;
            border: 1px solid var(--primary-blue);
        }
    }
}
