<div class="backdrop"></div>
<section class="auth grid justify-center">
    <img src="assets/icons/close.png" alt="close" class="close">
    <img src="assets/icons/logo.png" alt="logo" class="logo">
    <span class="auth__title bold">Авторизация</span>
    <div class="auth__block">
        <form [formGroup]="signInForm" (ngSubmit)="login()" class="flex flex-column center">
            <div class="label-form">
                <input formControlName="email" type="email" id="email" placeholder=" "
                       [ngClass]="{'is-invalid': submitted && signInForm.get('email').errors }" >
                <label for="email">Введите Email</label>
            </div>
            <div class="label-form">
                <div class="input-group right-label">
                    <input formControlName="password" type="password" id="password" placeholder=" "
                           [ngClass]="{'is-invalid': submitted && signInForm.get('password').errors }">
                    <label for="password">Введите пароль</label>
                    <div class="invalid-feedback" *ngIf="errorMessage">{{ errorMessage }}</div>
                </div>
            </div>
            <button class="login">Войти</button>
            <div class="forget font-16">Забыли пароль?</div>
            <div class="info font-14 bold">У вас нет аккаунта?</div>
            <div class="info-swap font-16">Зарегистрироваться</div>
        </form>
    </div>
</section>
