@import "src/assets/styles/common";


.auth {
    padding: 0 48px 36px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--white);
    border-radius: 8px;

    &__img {
        height: 300px;
        margin: 16px 0;
    }

    &__title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
        color: var(--primary-blue);
    }

    &__block {
        box-shadow: 0 8px 12px rgb(0 0 0 / 8%);
        padding: 30px;
        border-radius: 8px;

        .login {
            background: var(--primary-blue);
            width: 100%;
            color: var(--primary-beige);
            padding: 12px;
            border-radius: 8px;
            font-size: 15px;
            text-align: center;
            border: none;
            margin-bottom: 16px;

            &:hover {
                @extend .hover;
            }
        }

        .forget , .info-swap , .info {
            &:hover {
                @extend .hover;
            }
        }

        .forget {
            color: var(--primary-blue);
            margin-bottom: 16px;
        }

        .info {
            color: var(--primary-coral);
            margin-bottom: 4px;
        }

        .info-swap {
            color: var(--primary-blue);
        }
    }

    .is-invalid {
        border: 1px solid var(--primary-coral);
    }
}
