<div class="tarif flex flex-column">
    <span class="tarif__title font-19 font-w-500">Автоподнятие</span>
    <img class="tarif__img" src="assets/images/raise.png">
    <span class="tarif__text">Для быстрого поиска работы. Оптимальный способ ежедневно быть на виду у работодателей.</span>
    <div class="tarif--conditions flex align-center">
        <img class="tarif--conditions__img" src="assets/icons/check-mark.svg">
        <span>Автоподнятие 4 раза в день в удобное для рекрутера время</span>
    </div>
    <div class="tarif--conditions flex align-center">
        <img class="tarif--conditions__img" src="assets/icons/check-mark.svg">
        <span>Яркое выделение резюме цветом</span>
    </div>
    <div class="tarif--pricing flex">
        <button class="tarif__btn font-w-500 font-16">Выбрать</button>
        <div class="flex flex-column">
            <span class="tarif--price bold">от 750 тг</span>
            <span class="tarif--duration">в неделю</span>
        </div>
    </div>
</div>
