.tarif {
    width: 400px;
    border-right: 1px solid var(--gray);
    margin: 0 0 40px 15px;
    padding-right: 10px;

    .tarif__img {
        width: 250px;
        height: 250px;
    }
    .tarif__text {
        padding-bottom: 8px;
    }
    .tarif--conditions {
        padding-bottom: 10px;
    }

    .tarif--conditions__img {
        margin-right: 15px;
    }

    .tarif--pricing{
        margin-top: 15px;
        .tarif__btn {
            outline: none;
            border-radius: 18px;
            cursor: pointer;
            width: 100px;
            height: 40px;
            border: 2px solid var(--primary-coral);
            background: var(--primary-coral);
            color: var(--primary-blue);
            margin-right: 15px;
        }
    }

}
