<div class="container flex flex-column">
    <div class="protection-data">
        <h2 class="protection__title font-25">Политика в области обработки и обеспечения безопасности персональных данных</h2>
        <span class="protection__subtitle font-w-500 font-16 bold">1. Общие положения</span>
        <p class="protection__text">ТОО «INTERN.IO» (ИНТЕРН.АЙО) (БИН 111111111111) (далее — «Компания») в рамках
            выполнения своей основной
            деятельности осуществляет обработку персональных данных различных категорий субъектов персональных данных с
            использованием
            информационных систем персональных данных.</p>
        <p class="protection__text">
            В соответствии с действующим законодательством Республики Казахстан Компания является оператором
            персональных данных. При
            организации и осуществлении обработки персональных данных Компания руководствуется требованиями Закона
            Республики Казахстан от
            18 января 2021 года N 94-V «О персональных данных и их защите» и принятыми в соответствии с ним иными
            нормативными правовыми
            актами. Для целей настоящей Политики под персональными данными понимаются любая информация, предоставленная
            через интернет-сайты
            Компании и (или) собранная с использованием таких интернет-сайтов, относящаяся к прямо или косвенно
            определенному, или
            определяемому физическому лицу (субъекту персональных данных).</p>
        <span class="protection__subtitle font-w-500 font-16 bold">2. Сбор персональных данных</span>
        <p class="protection__text">Компания осуществляет сбор информации через интернет-сайты и мобильные приложения
            следующими способами:</p>
        <p class="protection__text">• Персональные данные, предоставляемые пользователями:</p>
        <p class="protection__text">Компания осуществляет сбор персональных данных, которые вводят в поля данных на
            интернет-сайтах Компании сами пользователи или иные лица по их поручению.</p>
        <p class="protection__text">• Сбор данных о местонахождении устройств пользователей мобильного приложения
            Компании при использовании пользователями мобильного приложения.</p>
        <p class="protection__text">• Сбор IP адресов пользователей и файлов cookies.</p>
        <p class="protection__text">• Пассивный сбор персональных данных о текущем подключении в части статистических
            сведений:</p>
        <p class="protection__text">— идентификатор пользователя, присваиваемый Сайтом;</p>
        <p class="protection__text">— посещенные страницы;</p>
        <p class="protection__text">— количество посещений страниц;</p>
        <p class="protection__text">— информация о перемещении по страницам сайта;</p>
        <p class="protection__text">— длительность пользовательской сессии;</p>
        <p class="protection__text">— доступные шрифты браузера;</p>
        <p class="protection__text">— установленные плагины браузера;</p>
        <p class="protection__text">— параметры WebGL браузера;</p>
        <p class="protection__text">— наличие ActiveX;</p>
        <p class="protection__text">— перечень поддерживаемых языков на устройстве пользователя;</p>
        <p class="protection__text">— архитектура процессора устройства пользователя;</p>
        <p class="protection__text">— информация об использовании средств автоматизации при доступе на Сайт.</p>
        <p class="protection__text">В отношении зарегистрированных пользователей Сайта могут собираться сведения об
            использовании портов на устройствах пользователей с целью выявления подозрительной активности и защиты
            личных кабинетов пользователей. Данные могут быть получены с помощью различных методов, например, файлов
            cookies и файловых веб-маяков и др.</p>
        <p class="protection__text">Компания может использовать сторонние интернет-сервисы (технологии третьих лиц) для
            организации сбора статистических персональных данных, сторонние интернет-сервисы обеспечивают хранение
            полученных данных на собственных серверах. Компания не несет ответственности за локализацию серверов
            сторонних интернет-сервисов. При этом такие сторонние интернет-сервисы (технологии третьих лиц),
            установленные на Сайте и используемые Компанией, могут устанавливать и считывать cookie-файлы браузеров
            конечных пользователей Сайта, или использовать сетевые маячки (web beacons) для сбора информации в процессе
            рекламной деятельности на Сайте. Порядок сбора и использования данных, собираемыми такими сторонними
            интернет-сервисами (технологиями третьих лиц), определяется самостоятельно этими сторонними
            интернет-сервисами и непосредственно они несут ответственность за соблюдение этого порядка и использование
            собираемых ими данных, в том числе эти сторонние интернет-сервисы отвечают и обеспечивают выполнение
            требований применимого законодательства, в том числе законодательства о персональных данных РК.</p>
        <p class="protection__text">Компания не проводит сопоставление информации, предоставляемой пользователем
            самостоятельно и позволяющей идентифицировать субъекта персональных данных, со статистическими персональными
            данными, полученными в ходе применения подобных пассивных методов сбора информации.</p>
        <span class="protection__subtitle font-w-500 font-16 bold">3. Принципы и условия обработки персональных данных</span>
        <p class="protection__text">Обработка персональных данных в Компании осуществляется на законной и справедливой
            основе и ограничивается достижением конкретных, заранее определенных и законных целей, в том числе, в
            соответствии с Условиями использования Сайтов, Условиями оказания услуг, Соглашением об оказании услуг по
            содействию в трудоустройстве.</p>
        <p class="protection__text">Обработке подлежат только персональные данные, которые отвечают целям их обработки.
            Содержание и объем обрабатываемых в Компании персональных данных соответствуют заявленным целям обработки,
            избыточность обрабатываемых персональных данных не допускается.</p>
        <p class="protection__text">При обработке персональных данных в Компании обеспечивается точность персональных
            данных, их достаточность и, в необходимых случаях, актуальность по отношению к целям обработки персональных
            данных. Компания принимает необходимые меры (обеспечивает их принятие) по удалению или уточнению неполных,
            или неточных персональных данных.</p>
        <p class="protection__text">Компания в ходе своей деятельности может предоставлять и (или) поручать обработку
            персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено
            законодательством РФ о персональных данных. При этом обязательным условием предоставления и (или) поручения
            обработки персональных данных другому лицу является обязанность сторон по соблюдению конфиденциальности и
            обеспечению безопасности персональных данных при их обработке.</p>
        <p class="protection__text">Сроки обработки персональных данных определяются в соответствии с целями, для
            которых они были собраны.</p>
        <span class="protection__subtitle font-w-500 font-16 bold">4. Права субъекта персональных данных</span>
        <p class="protection__text">Субъект персональных данных имеет право:</p>
        <p class="protection__text">• требовать уточнения своих персональных данных, их блокирования или уничтожения в
            случае, если персональные данные являются неполными, устаревшими, недостоверными, незаконно полученными или
            не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по
            защите своих прав;</p>
        <p class="protection__text">• требовать перечень своих персональных данных, обрабатываемых Компанией, и источник
            их получения;</p>
        <p class="protection__text">• получать информацию о сроках обработки своих персональных данных, в том числе о
            сроках их хранения;</p>
        <p class="protection__text">• требовать извещения всех лиц, которым ранее были сообщены неверные или неполные
            его персональные данные, обо всех произведённых в них исключениях, исправлениях или дополнениях;</p>
        <p class="protection__text">• обжаловать в уполномоченном органе по защите прав субъектов персональных данных
            или в судебном порядке неправомерные действия или бездействия при обработке его персональных данных;</p>
        <p class="protection__text">• на защиту своих прав и законных интересов, в том числе на возмещение убытков и
            (или) компенсацию морального вреда в судебном порядке.</p>
        <p class="protection__text">Если у Вас есть вопросы о характере применения, использовании, изменении или
            удалении Ваших персональных данных, которые были Вами предоставлены, или если Вы хотите отказаться от
            дальнейшей их обработки Компанией, пожалуйста, свяжитесь с нами по почте по адресу Компании или по
            электронной почте: internio@gmail.com</p>
        <p class="protection__text">Обращаем Ваше внимание, что оператор персональных данных не несет ответственности за
            недостоверную информацию, предоставленную субъектом персональных данных.</p>
        <span class="protection__subtitle font-w-500 font-16 bold">5. Реализация требований к защите персональных данных</span>
        <p class="protection__text">С целью поддержания деловой репутации и обеспечения выполнения требований
            законодательства РК, Компания считает важнейшими задачами обеспечение легитимности обработки персональных
            данных в бизнес-процессах Компании и обеспечение надлежащего уровня безопасности обрабатываемых в Компании
            персональных данных.</p>
        <p class="protection__text">Компания требует от иных лиц, получивших доступ к персональным данным, не раскрывать
            третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное
            не предусмотрено законодательством РК.</p>
        <p class="protection__text">С целью обеспечения безопасности персональных данных при их обработке Компания
            принимает необходимые и достаточные правовые, организационные и технические меры для защиты персональных
            данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования,
            предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении
            них.</p>
        <p class="protection__text">Компания добивается того, чтобы все реализуемые ею мероприятия по организационной и
            технической защите персональных данных осуществлялись на законных основаниях, в том числе в соответствии с
            требованиями законодательства РК по вопросам обработки персональных данных.</p>
        <p class="protection__text">В целях обеспечения адекватной защиты персональных данных Компания проводит оценку
            вреда, который может быть причинен субъектам персональных данных в случае нарушения безопасности их
            персональных данных, а также определяет актуальные угрозы безопасности персональных данных при их обработке
            в информационных системах персональных данных.</p>
        <p class="protection__text">В соответствии с выявленными актуальными угрозами Компания применяет необходимые и
            достаточные правовые, организационные и технические меры по обеспечению безопасности персональных данных,
            включающие в себя использование средств защиты информации, обнаружение фактов несанкционированного доступа к
            персональным данным и принятие мер, восстановление персональных данных, ограничение доступа к персональным
            данным, регистрацию и учет действий с персональными данными, а также контроль и оценку эффективности
            применяемых мер по обеспечению безопасности персональных данных.</p>
        <p class="protection__text">Руководство Компании осознает важность и необходимость обеспечения безопасности
            персональных данных и поощряет постоянное совершенствование системы защиты персональных данных,
            обрабатываемых в рамках выполнения основной деятельности Компании.</p>
        <p class="protection__text">В Компании назначены лица, ответственные за организацию обработки и обеспечение
            безопасности персональных данных.</p>
        <p class="protection__text">Каждый новый работник Компании, непосредственно осуществляющий обработку
            персональных данных, ознакамливается с требованиями законодательства РК по обработке и обеспечению
            безопасности персональных данных, настоящей Политикой и другими локальными актами Компании по вопросам
            обработки и обеспечения безопасности персональных данных и обязуется их соблюдать.</p>
    </div>
</div>
