
.protection-data {
    margin: 15px;
    .protection__title {
        padding-bottom: 12px;
    }
    .protection__subtitle {
    }
    .protection__text {
        padding: 8px;
        margin-left: 40px;
    }
}
