@import "display";
@import "colors";
@import "buttons";
@import "fonts";
@import "inputs";

* {
    font-family: 'Rubik', sans-serif;
    color: var(--gray);
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    outline: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1248px;
    margin: 0 auto;
}

.close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    &:hover {
        cursor: pointer;
        outline: none;
    }
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

::selection {
    background: var(--primary-coral);
    color: var(--primary-blue);
}

