.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.grid {
  display: grid;
}

.gap16 {
    gap: 16px;
}

.gap8 {
    gap: 8px;
}


.auto-rows {
  grid-auto-rows: min-content;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-items: center;
}
