.font-w-500 {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.font-25 {
    font-size: 25px;
    line-height: 20px;
}

.font-19 {
    font-size: 19px;
    line-height: 17px;
}

.font-16 {
  font-size: 16px;
  line-height: 19px;
}

.font-14 {
    font-size: 14px;
    line-height: 17px;
}

.font-13 {
    font-size: 13px;
    line-height: 17px;
}

.hover {
    cursor: pointer;
    outline: none;
    &:focus {
        outline: none;
    }
}
