input,
select {
    border: 1px solid var(--primary-coral);
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    outline: none;
    width: 100%;
    line-height: 150%;
    font-size: 1rem;
    height: 48px;
    background: var(--primary-beige);
}

.label-form {
    outline: none;
    position: relative;
    width: 100%;

    & + & {
        padding-top: 16px;
    }

    input {
        & + label {
            display: block;
            position: relative;
            transform: translateY(-2rem) translateX(1.5rem);
            transform-origin: 0;
            transition: transform 200ms ease;
            color: #636366;
        }

        &:focus,
        &:not(:placeholder-shown),
        &:-webkit-autofill {
            & + label {
                transform: scale(0.8) translateY(-5.5rem);
            }
        }
    }

    .input-group {
        display: inline-block;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: 200ms;
        }

        &.left-label {
            img {
                left: 1rem;
            }

            input {
                padding-left: 3rem;
            }
        }

        &.right-label {
            img {
                right: 1.25rem;
            }

            input {
                padding-right: 3rem;
            }
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
