<div class="container">
    <h2 class="font-25">Найти работу быстрее</h2>
    <div class="flex">
        <app-tarif></app-tarif>
        <app-tarif></app-tarif>
        <app-tarif></app-tarif>
    </div>
</div>
